[submodule "叶锦棉"]
	path = 叶锦棉
	url = https://github.com/ay27/pos.git
[submodule "hackeris"]
	path = hackeris
	url = https://github.com/hackeris/pos.git
[submodule "wen"]
	path = wen
	url = https://github.com/weslywen/pos
[submodule "s117"]
	path = s117
	url = https://github.com/s117/pos.git
[submodule "Expost"]
	path = Expost
	url = https://github.com/Expost/pos.git
[submodule "0r1on"]
	path = 0r1on
	url = https://github.com/0r1onn/pos.git
[submodule "0r1onn"]
	path = 0r1onn
	url = https://github.com/0r1onn/pos.git
[submodule "RenzHoly"]
	path = RenzHoly
	url = https://github.com/RenzHoly/pos
[submodule "lookerson"]
	path = lookerson
	url = https://github.com/lookerson/pos.git
[submodule "zhyouns"]
	path = zhyouns
	url = git@github.com:youzhonghui/pos.git
[submodule "chenliang"]
	path = chenliang
	url = https://github.com/cg24/pos-1.git
[submodule "liu102401"]
	path = liu102401
	url = https://github.com/liu102401/pos.git
