[submodule "叶锦棉"]
	path = 叶锦棉
	url = https://github.com/ay27/pos.git
[submodule "hackeris"]
	path = hackeris
	url = https://github.com/hackeris/pos.git
[submodule "wen"]
	path = wen
	url = https://github.com/weslywen/pos
[submodule "s117"]
	path = s117
	url = https://github.com/s117/pos.git
[submodule "Expost"]
	path = Expost
	url = https://github.com/Expost/pos.git
[submodule "0r1on"]
	path = 0r1on
	url = https://github.com/0r1onn/pos.git
[submodule "0r1onn"]
	path = 0r1onn
	url = https://github.com/0r1onn/pos.git
[submodule "RenzHoly"]
	path = RenzHoly
	url = https://github.com/RenzHoly/pos
